
:root {
  --main-blue-color: #7EC2C2;
  --main-right-blue-color: #9DDCDC;
  --main-white-color: #FFF4E1;
  --main-pink-color: #E67A7A;
  --main-black-color: #333;
}

/* CSS Document */

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: var(--main-black-color);
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 0.8px;
  word-break: break-all;
}

a {
  color: #1ca9e3;
  text-decoration: none;
}

a:hover, a:hover img {
  // opacity: .6;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  text-decoration: none !important;
}

img, video, object {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: bottom;
  display: block;
}

ul, li {
  list-style: none;
}

/*--------------------------------
　全体
---------------------------------*/

#wrapper {
  background-color: var(--main-white-color);
}

.inner {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

#contents {
  // padding: 100px 0;
  position: relative;
  z-index: 50;
  background-color: var(--main-white-color);
}

/*--------------------------------
　ヘッダー
---------------------------------*/

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: 480px;
  background-size: auto 100%;
  background-color: var(--main-right-blue-color);
  }

#header .logo {
  display: block;
  position: fixed;
  z-index: 1;
}


#header .logo-title, 
#header .logo-desc,
#gnav li a,
.section .section-title,
.footer-link
{
  font-family: 'Capriola', "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Meiryo, sans-serif;
}


#header .logo-title {
  font-size: 94px;
  color: #fff;
  line-height: 1;
  letter-spacing: -2px;
}

#header .logo-desc {
  display: block;
  font-size: 36px;
  text-align: center;
  margin-top: 30px;
  color: #fff;
}

/*スクロールダウン全体の場所*/
.scrolldown1{
  /*描画位置※位置は適宜調整してください*/
position:absolute;
left:50%;
bottom:100px;
  /*全体の高さ*/
height:50px;
width:100%;
}

/*Scrollテキストの描写*/
.scrolldown1 span{
  /*描画位置*/
position: absolute;
left:-14px;
top: -15px;
  /*テキストの形状*/
color: #eee;
font-size: 0.7rem;
letter-spacing: 0.05em;
}

/* 線の描写 */
.scrolldown1::after{
content: "";
  /*描画位置*/
position: absolute;
top: 0;
  /*線の形状*/
width: 1px;
height: 30px;
background: #eee;
  /*線の動き1.4秒かけて動く。永遠にループ*/
animation: pathmove 1.4s ease-in-out infinite;
opacity:0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove{
0%{
  height:0;
  top:0;
  opacity: 0;
}
30%{
  height:30px;
  opacity: 1;
}
100%{
  height:0;
  top:50px;
  opacity: 0;
}
}

/*--------------------------------
　グローバルナビ
---------------------------------*/

#gnav {
  padding: 10px;
  font-family: 'Open sans', sans-serif;
  z-index: 100;
  position: sticky;
  top:0;
  width:100%;
  background-color: #9ddcdc;
}

#gnav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 0;
}

#gnav li {
  font-weight: bold;
  font-size: 18px;
  padding: 5px 20px;
  margin: 0 5px;
  position: relative;
}

#gnav li::before,
#gnav li::after {
  content:"";
    /*絶対配置で線の位置を決める*/
  position: absolute;
    /*線の形状*/
  width: 0;
  height:2px;
  background: var(--main-blue-color);
/*アニメーションの指定*/
  transition: all 0.2s linear;
  transition-delay: 0.2s;
}

#gnav li::before{
  right: 0;
  top: 0;
}

#gnav li::after{
  left: 0;
  bottom: 0;
}

#gnav li span{
  display: block;
  color: #fff;
}

#gnav li span::before,
#gnav li span::after{
  content:"";
    /*絶対配置で線の位置を決める*/
  position: absolute;
    /*線の形状*/
  width:2px;
  height:0;
  background: var(--main-blue-color);
/*アニメーションの指定*/
  transition: all 0.2s linear;
}

#gnav li span::before{
  left: 0;
  top: 0;
}
#gnav li span::after{
  right: 0;
  bottom: 0;
}

/*現在地とhoverした際の線の変化*/

#gnav li:hover::before,
#gnav li:hover::after{
  width: 100%;/*横幅を100%に*/
}

#gnav li:hover span::before,
#gnav li:hover span::after{
  height: 100%;/*縦幅を100%に*/
}

#gnav li:last-child {
  margin-right: 0;
}

#gnav li a {
  color: var(--main-black-color);
  letter-spacing: -0.01em;
  // margin-left: 12px;
  // position: relative;
}

/*--------------------------------
　Section
---------------------------------*/

.section .inner {
  /* padding: 80px 10px; */
  padding: 80px 10px 0px 10px;
}

.section .section-title-block {
  text-align: center;
  margin-bottom: 30px;
}

.section .section-title {
  letter-spacing: -0.01em;
  display: inline-block;
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--main-black-color);
}

.section .section-desc {
  width: 80%;
  text-align: center;
  margin: 30px auto 0;
}

.two-column-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.two-column-image {
  width: 33%;
}

.two-column-image img {
  margin: 0 auto;
}

.two-column-desc {
  width: 62%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*--------------------------------
　Latestworks
---------------------------------*/

#latestworks .two-column-image {
  width: 48%;
}

#latestworks .two-column-desc {
  width: 48%;
}

/*--------------------------------
　WORKS
---------------------------------*/

#works .card {
  width: 32%;
}

#works .card {
  margin-bottom: 50px;
}

#works .card-image {
  display: block;
  margin-bottom: 8px;
  height: 245px;
}

#works .card-caption {
  text-align: center;
}

#works .card-caption-title {
  font-size: 16px;
  font-weight: bold;
}

#works .card-caption-info {
  font-size: 12px;
}

#works .card-caption-url {
  font-size: 10px;
}

#works .card-wrapper {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/*--------------------------------
　About
---------------------------------*/

#about .two-column-image {
  width: 33%;
}

#about .two-column-desc {
  width: 62%;
}

/*--------------------------------
 CONTACT
---------------------------------*/

#contact .contact-list {
  padding: 20px 0;
}

#contact .contact-list ul {
  width: 40%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-self: flex-end;
  ;
}

#contact .contact-list li {
  text-align: center;
}

#contact .contact-list li a {
  color: var(--main-black-color);
}

#contact .contact-list li img {
  width: 60px;
  margin: 0 auto 5px;
  border-radius:50%;
}

#contact .contact-list-desc {
  font-weight: bold;
}

/*--------------------------------
 Footer
---------------------------------*/

#footer {
  background-color: var(--main-right-blue-color);
}

#footer .inner {
  padding: 30px;
}

#footer .footer-link ul {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

#footer .footer-link li {
  font-size: 12px;
  padding: 0 20px;
}

#footer .footer-link li a {
  color: #fff;
  font-weight: bold;
}

#footer .footer-link li a:hover,
.list-inline-item:hover {
  opacity: .7;
}

#footer .copyright {
  font-size: 10px;
  color: #8c8c8c;
  text-align: center;
}

/*media Queries 767
----------------------------------------------------*/

@media screen and (max-width: 767px) {
  body {
    font-size: 13px;
    line-height: 1.7;
  }
  #header {
    height: 200px;
  }
  #header .logo-title {
    font-size: 56px;
  }
  #header .logo-name {
    top: 0;
    left: -30px;
    font-size: 25px;
  }
  #header .logo-desc {
    font-size: 11px;
  }
  #gnav li {
    font-size: 14px;
    padding: 0 10px;
  }
  #gnav li a:hover {
    opacity: 1;
  }
  #contents {
    padding: 40px 0;
    z-index: 100;
  }
  .section .inner {
    padding: 30px 15px;
  }
  .section .section-title-block {
    margin-bottom: 10px;
  }
  .section .section-title {
    font-size: 36px;
  }
  #latestworks .two-column-wrapper {
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  #latestworks .two-column-image {
    width: 90%;
    margin: 0 auto 20px;
  }

  #latestworks .two-column-desc {
    width: 100%;
  }
  #works .card {
    width: 48%;
  }
  #works .card-caption-title {
    font-size: 12px;
  }
  #works .card-caption-info {
    font-size: 11px;
  }
  #about .two-column-wrapper {
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  #about .two-column-image {
    width: 50%;
    margin: 0 auto 20px;
  }
  #about .two-column-desc {
   width: 100%;
 }

  #contact .contact-list ul {
    width: 100%;
  }
  #contact .contact-list li {
    flex-basis: 30%;
  }
  #contact .contact-list li img {
    width: 30px;
  }
  #contact .contact-list-desc {
    font-size: 12px;
  }
  #footer .inner {
    padding: 20px 0;
  }
  #footer .footer-link li {
    font-size: 10px;
    padding: 0 10px;
    margin-bottom: 5px;
  }

 .profile img {
  /* border-radius: 50%; 
  border: 4px solid GREEN; */
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    object-fit: cover; /* ADD */
 }
}

.profile img {
  border-radius: 50%;
}

.contact-img{
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    object-fit: cover; /* ADD */
}

.section-title-css{
  margin-left: 12px;
}

.table{
  text-align: center;
}

.list-inline-item {
  display: inline-block;
}

.social-link {
  display: block;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: var(--main-blue-color);
  -webkit-transition: background-color .15s ease-in-out;
  transition: background-color .15s ease-in-out;
  -webkit-box-shadow: 0 3px 3px 0 rgb(0 0 0 / 10%);
  box-shadow: 0 3px 3px 0 rgb(0 0 0 / 10%);
}

@media only screen and (max-width: 540px) {
  #gnav li {
    font-size: 8px;
  }
}


/*--------------------------------
 SKILL
---------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans); 

@mixin stagger-anim-delay($i, $initial-delay, $stagger-delay) {
  @while $i > 0 {
    &:nth-of-type(#{$i}) {
      animation-delay: $initial-delay + $stagger-delay * $i;
    }
    $i: $i - 1;
  }
}

$baseFontSize: 16px;
$baseLineHeight: 1;

$chartGap: 10px;
$chartCount: 4;
$chartOneCount: 6;
$chartTwoCount: 1;
$chartThreeCount: 1;
$chartFourCount: 3;
$totalChartCount: $chartOneCount + $chartTwoCount + $chartThreeCount + $chartFourCount;

$titleGap: 10px;
$titleHeight: $baseFontSize * $baseLineHeight + $titleGap;

$chartBarHeight: 30px;
$chartBarGap: 10px;

//Demo
.skills {
  width: 80%;
  max-width: 960px;
  height: 670px;
  // height: $totalChartCount * ($chartBarHeight + $chartBarGap) + ($chartCount * ($chartGap + $titleHeight));
  margin: auto;

  position: relative;
}

.lines {
  height: 100%;
  position: relative;
}
.line {
  height: inherit;
  width: 2px;

  position: absolute;

  background: rgba(rgb(192, 192, 192), 0.6);

  &.l--0 {
    left: 0;
  }
  &.l--25 {
    left: 25%;
  }
  &.l--50 {
    left: 50%;
  }
  &.l--75 {
    left: 75%;
  }
  &.l--100 {
    left: calc(100% - 1px);
  }
}
.line__label {
  display: block;
  width: 104px;
  text-align: center;

  position: absolute;
  bottom: -20px;
  right: -50px;

  &.title {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.charts {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.chart {
  &:not(:first-child) {
    margin-top: $chartGap;
  }
}

.animation_title {
  display: block;
  margin: 0 0 10px;

  font-weight: bold;

  opacity: 0;

  animation: 1s anim-lightspeed-in ease forwards;

  .chart--dev & {}
  .chart--db & {
    animation-delay: 1.6s;
  }
  .chart--ifr & {
    animation-delay: 2.7s;
  }
  .chart--prod & {
    animation-delay: 3.8s;
  }
}

.chart--horiz {
  overflow: hidden;
}

.animation_bar {
  $border-rad: 4px;
  height: $chartBarHeight;
  margin-bottom: $chartBarGap;

  background: linear-gradient(to left, var(--main-pink-color), #F8ACAC);
  border-top-right-radius: $border-rad;
  border-bottom-right-radius: $border-rad;
  opacity: 0;

  animation: 1s anim-lightspeed-in ease forwards;

  .chart--dev & {
    @include stagger-anim-delay($chartOneCount, 0.4s, 0.2s);
  }
  .chart--db & {
    @include stagger-anim-delay($chartTwoCount, 2.2s, 0.2s);
  }
  .chart--ifr & {
    @include stagger-anim-delay($chartThreeCount, 3.3s, 0.2s);
  }
  .chart--prod & {
    @include stagger-anim-delay($chartFourCount, 4.4s, 0.2s);
  }
}

.chart__label {
  padding-left: 10px;
  line-height: 30px;
  color: white;
}

//Keyframes
@keyframes anim-lightspeed-in {
  0% {
    transform: translateX(-200%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#splash {
  /*fixedで全面に固定*/
position: fixed;
width: 100%;
height: 100%;
z-index: 999;
text-align:center;
color:#fff;
}

/* Loading画像中央配置　*/
#splash_text {
position: absolute;
top: 50%;
left: 50%;
  z-index: 999;
transform: translate(-50%, -50%);
color: #fff;
width: 100%;
}

/*割れる画面のアニメーション*/
.loader_cover {
  width: 100%;
  height: 50%;
  background-color: #F8ACAC;
  transition: all .2s cubic-bezier(.04, .435, .315, .9);
  transform: scaleY(1);
}
/*上の画面*/
.loader_cover-up {
  transform-origin: center top;
}

/*下の画面*/
.loader_cover-down {
  position: absolute;
  bottom: 0;
  transform-origin: center bottom;
}
/*クラス名がついたらY軸方向に0*/
.coveranime {
  transform: scaleY(0);
}
